[Unit]
Description=gamemoded

[Service]
Type=dbus
BusName=com.feralinteractive.GameMode
NotifyAccess=main
ExecStart=/usr/bin/gamemoded

[Install]
WantedBy=default.target