[user]
	email = durcor@disroot.org
	name = Tyler Kaminski
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[color]
	ui = auto
[pull]
	rebase = false
[diff]
    tool = nvr
[difftool "nvr"]
    cmd = nvr -s -d $LOCAL $REMOTE
[merge]
    tool = nvr
[mergetool "nvr"]
    cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
