[user]
	email = durcor@disroot.org
	name = Tyler Kaminski
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
[color]
	ui = auto
[pull]
	rebase = false
