pic
vid
mus
src
gam
doc
dl
data
cal
wallet
addbk
.shhis
.bash_history
.sqlite_history
.secret
.local/share/newsboat
.config/vdirsyncer/config
.local/share/buku/bookmarks.db
.config/spotifyd/spotifyd.conf
.shhis
.notmuch-config
.dmenuhis
.ssh
.gnupg
.password-store
