pic
vid
mus
src
gam
doc
dl
data
cal
wallet
addbk

# the dotfiles of doom (state)
.cache
.local

# shell histories
.shhis
.bash_history
.sqlite_history
.python_history
.utop-history
.dmenuhis

# there's secrets in here
.secret
.config/vdirsyncer/config
.config/spotifyd/spotifyd.conf
.password-store
.ssh
.gnupg
.aws

.notmuch-config
.netrc

# i don't think these are supposed to be here
.config/itch
.config/BraveSoftware
.config/discordcanary
.config/fah
.config/discord
.config/vesktop
.config/PCSX2
.config/discorddevelopment
.config/Microsoft
.config/spicetify

# browser data dirs
.tor-browser
.mozilla
.thunderbird
.firedragon
.librewolf
.config/google-chrome

# rust
.rustup
.cargo

# package managers
.m2
.npm
.cpanm
.stack

# vidya
.neverball
.steam
.wine

# annoying programs that shit in my home directory
.ccache
.itch
.minecraft
.tmux
.googleearth
.cmake
.Immersed
.subversion
.zinit
.shared-ringdb
.pki
.mame
.openshot_qt
.tuxpaint
.java
.macromedia
.texlive
.Superposition
.openjfx
.nimble
.thumbnails
.sconsify
.quake2rtx
.msf4
.gem
.zoom
.xonotic
.themes
.renpy
.hashcat
.keras
.gradle

# electron apps...
.config/teams-for-linux
.config/Riot
