! ~/.Xresources
! vi:ft=xdefaults

! X colors.
*foreground:        #f5ffff
*background:        #0f0e0f
*.foreground:       #f5ffff
*.background:       #0f0e0f
emacs*foreground:   #f5ffff
emacs*background:   #0f0e0f
URxvt*foreground:   #f5ffff
XTerm*foreground:   #f5ffff
UXTerm*foreground:  #f5ffff
URxvt*background:   [100]#0f0e0f
XTerm*background:   #0f0e0f
UXTerm*background:  #0f0e0f
URxvt*cursorColor:  #f5ffff
XTerm*cursorColor:  #f5ffff
UXTerm*cursorColor: #f5ffff
URxvt*borderColor:  [100]#0f0e0f

! Colors 0-15.
*.color0: #0f0e0f
*color0:  #0f0e0f
*.color1: #9B8F69
*color1:  #9B8F69
*.color2: #728F93
*color2:  #728F93
*.color3: #C1AB71
*color3:  #C1AB71
*.color4: #617C83
*color4:  #617C83
*.color5: #9CA699
*color5:  #9CA699
*.color6: #78989C
*color6:  #78989C
*.color7: #bfcdcc
*color7:  #bfcdcc
*.color8: #282628
*color8:  #282628
*.color9: #dac277
*color9:  #dac277
*.color10: #83c6d0
*color10:  #83c6d0
*.color11: #ffe77f
*color11:  #ffe77f
*.color12: #6fa9b9
*color12:  #6fa9b9
*.color13: #bfecb2
*color13:  #bfecb2
*.color14: #8ad3dc
*color14:  #8ad3dc
*.color15: #f5ffff
*color15:  #f5ffff

! Black color that will not be affected by bold highlighting.
*.color66: #0f0e0f
*color66:  #0f0e0f

! Xclock colors.
XClock*foreground: #f5ffff
XClock*background: #0f0e0f
! XClock*majorColor:  rgba:ff/f8/ff/ff
! XClock*minorColor:  rgba:ff/f8/ff/ff
! XClock*hourColor:   rgba:ff/f8/ff/ff
! XClock*minuteColor: rgba:ff/f8/ff/ff
! XClock*secondColor: rgba:ff/f8/ff/ff

! Set depth to make transparency work.
URxvt*depth: 32

*.def-font: Fantasque Sans Mono Nerd Font
*def-font: Fantasque Sans Mono Nerd Font
