! ~/.Xresources
! vi:ft=xdefaults

! X colors.
*foreground:        #fdfdff
*background:        #0F100F
*.foreground:       #fdfdff
*.background:       #0F100F
emacs*foreground:   #fdfdff
emacs*background:   #0F100F
URxvt*foreground:   #fdfdff
XTerm*foreground:   #fdfdff
UXTerm*foreground:  #fdfdff
URxvt*background:   [100]#0F100F
XTerm*background:   #0F100F
UXTerm*background:  #0F100F
URxvt*cursorColor:  #fdfdff
XTerm*cursorColor:  #fdfdff
UXTerm*cursorColor: #fdfdff
URxvt*borderColor:  [100]#0F100F

! Colors 0-15.
*.color0: #0F100F
*color0:  #0F100F
*.color1: #A2553C
*color1:  #A2553C
*.color2: #5A5759
*color2:  #5A5759
*.color3: #AF8A72
*color3:  #AF8A72
*.color4: #5A7091
*color4:  #5A7091
*.color5: #946B5B
*color5:  #946B5B
*.color6: #6B8CAE
*color6:  #6B8CAE
*.color7: #d0d0d3
*color7:  #d0d0d3
*.color8: #272927
*color8:  #272927
*.color9: #e1673f
*color9:  #e1673f
*.color10: #806577
*color10:  #806577
*.color11: #f6af81
*color11:  #f6af81
*.color12: #658ecb
*color12:  #658ecb
*.color13: #cf8466
*color13:  #cf8466
*.color14: #78b5f4
*color14:  #78b5f4
*.color15: #fdfdff
*color15:  #fdfdff

! Black color that will not be affected by bold highlighting.
*.color66: #0F100F
*color66:  #0F100F

! Xclock colors.
XClock*foreground: #fdfdff
XClock*background: #0F100F
! XClock*majorColor:  rgba:ff/f8/ff/ff
! XClock*minorColor:  rgba:ff/f8/ff/ff
! XClock*hourColor:   rgba:ff/f8/ff/ff
! XClock*minuteColor: rgba:ff/f8/ff/ff
! XClock*secondColor: rgba:ff/f8/ff/ff

! Set depth to make transparency work.
URxvt*depth: 32

*.def-font: Inconsolata Nerd Font
*def-font: Inconsolata Nerd Font
