@define-color foreground #FFF8F4;
@define-color background #19151E;
@define-color cursor #D4929F;

@define-color color0 #111013;
@define-color color1 #352163;
@define-color color2 #9C2A46;
@define-color color3 #8D32A2;
@define-color color4 #8E5B3C;
@define-color color5 #9F3B8D;
@define-color color6 #BE8054;
@define-color color7 #F6EDE7;
@define-color color8 #2B2A28;
@define-color color9 #3A2271;
@define-color color10 #BC2E51;
@define-color color11 #A432BF;
@define-color color12 #925937;
@define-color color13 #D44FBB;
@define-color color14 #FEAB70;
@define-color color15 #F6EDE7;
