@import 'colors-waybar.css';

/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}

/* Colors */
@define-color black	@color0;
@define-color red	@color1;
@define-color green	@color2;
@define-color yellow	@color3;
@define-color blue	@color4;
@define-color purple	@color5;
@define-color teal	@color6;
@define-color gray	@color7;

@define-color darkgray	@color8;
@define-color brightred	@color9;
@define-color brightgreen	@color10;
@define-color brightyellow	@color11;
@define-color brightblue	@color12;
@define-color magenta	@color13;
@define-color cyan	@color14;
@define-color white	@color15;

@define-color warning 	@brightyellow;
@define-color critical	@red;
@define-color unfocused	@darkgray;
@define-color focused	@cyan;
@define-color inactive	@purple;

/* Defaults */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: @black;
	color: @white;
	font-family: Mononoki Nerd Font;
	/* font-family: Inconsolata Nerd Font Mono; */
	/* font-family: FantasqueSansM Nerd Font Mono; */
	/* font-family: Hack Nerd Font Mono; */
	font-size: 16px;
  /* min-height: 15px; */
	/* font-weight: bold; */
}

/* window#waybar { */
/*   min-height: 18px; set waybar's height to 18px */
/*   font-size: 18px; set only the font size to be bigger, which in turn will adjust the height of other elements */
/* }  */

/* Each module */
#battery,
#clock,
#cpu,
#gpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#bluetooth,
#temperature,
#custom-weather,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 5pt;
	padding-right: 5pt;
}

#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @black;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

/* Mode/Submap styling */
/* FIXME: Add slant nerd font char */

#submap, #mode {
	color: @white;
	background: @darkgray;
  font-weight: bold;
  /* text-transform: uppercase; */
}

#submap.manager, #mode.manager       { background: @color12; }
#submap.window, #mode.window         { background: @color10; }
#submap.launch, #mode.launch         { background: @color6;  }
#submap.audio, #mode.audio           { background: @color11; }
#submap.music, #mode.music           { background: @color1;  }
#submap.resize, #mode.resize         { background: @color1;  }
#submap.mpd, #mode.mpd               { background: @color14; }
#submap.visual, #mode.visual         { background: @color9;  }
#submap.gaps, #mode.gaps             { background: @color15; }
#submap.brightness, #mode.brightness { background: @color13; }
#submap.paste, #mode.paste           { background: @color3;  }
#submap.yank, #mode.yank             { background: @color4;  }
#submap.notify, #mode.notify         { background: @color2;  }

/* Module styling */
#pulseaudio     { background: @magenta; color: @black; }
#network        { background: @magenta; color: @darkgray; }
#memory         { background: @cyan; color: @black; }
#cpu            { background: @yellow; color: @black; }
#custom-gpu     { background: @yellow; color: @black; }
#temperature    { background: @yellow; color: @black; }
#language       { background: @darkgray; color: @white; }
#custom-weather { background: @darkgray; color: @white; }
#mpris          { background: @darkgray; color: @white; }
#battery        { background: @red; color: @black; }
#bluetooth      { background: @blue; color: @white; }
#tray           { background: @darkgray; }

#clock.date { background: @darkgray; color: @gray; }
#clock.time { background: @gray; color: @black; }

/* Separator styling */
#custom-blackf { color: @black; background: @black; }
#custom-blackb { color: @black; background: @black; }

#custom-redf { color: @red; background: @black; }
#custom-redb { color: @black; background: @red; }

#custom-brightredf { color: @brightred; background: @black; }
#custom-brightredb { color: @black; background: @brightred; }

#custom-greenf { color: @green; background: @black; }
#custom-greenb { color: @black; background: @green; }

#custom-brightgreenf { color: @brightgreen; background: @black; }
#custom-brightgreenb { color: @black; background: @brightgreen; }

#custom-yellowf { color: @yellow; background: @black; }
#custom-yellowb { color: @black; background: @yellow; }

#custom-brightyellowf { color: @brightyellow; background: @black; }
#custom-brightyellowb { color: @black; background: @brightyellow; }

#custom-bluef { color: @blue; background: @black; }
#custom-blueb { color: @black; background: @blue; }

#custom-brightbluef { color: @brightblue; background: @black; }
#custom-brightblueb { color: @black; background: @brightblue; }

#custom-magentaf { color: @purple; background: @black; }
#custom-magentab { color: @black; background: @purple; }

#custom-magentaf { color: @magenta; background: @black; }
#custom-magentab { color: @black; background: @magenta; }

#custom-tealf { color: @teal; background: @black; }
#custom-tealb { color: @black; background: @teal; }

#custom-cyanf { color: @cyan; background: @black; }
#custom-cyanb { color: @black; background: @cyan; }

#custom-grayf { color: @gray; background: @black; }
#custom-grayb { color: @black; background: @gray; }

#custom-darkgrayf { color: @darkgray; background: @black; }
#custom-darkgrayb { color: @black; background: @darkgray; }
