@import 'colors-waybar.css';

/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}

/* Styles */

@define-color black	@color0;
@define-color red	@color1;
@define-color green	@color2;
@define-color yellow	@color3;
@define-color blue	@color4;
@define-color purple	@color5;
@define-color aqua	@color6;
@define-color gray	@color7;
@define-color brgray	@color8;
@define-color brred	@color9;
@define-color brgreen	@color10;
@define-color bryellow	@color11;
@define-color brblue	@color12;
@define-color brpurple	@color13;
@define-color braqua	@color14;
@define-color white	@color15;

@define-color warning 	@bryellow;
@define-color critical	@red;
@define-color unfocused	@brgray;
@define-color focused	@braqua;
@define-color inactive	@purple;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: @color0;
	color: @white;
	font-family: Mononoki Nerd Font Mono;
	/* font-family: FantasqueSansM Nerd Font Mono; */
	/* font-family: Hack Nerd Font Mono; */
	font-size: 11pt;
  min-height: 15px; /* set waybar's height to 18px; */
	/* font-weight: bold; */
}

/* window#waybar { */
/*   min-height: 18px; set waybar's height to 18px */
/*   font-size: 18px; set only the font size to be bigger, which in turn will adjust the height of other elements */
/* }  */

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#bluetooth,
#temperature,
#custom-weather,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
	color: @white;
	background: @black;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
	color: @black;
	background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @black;
	color: @white;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
}

#submap {
	font-size: 11pt;
	color: @color15;
	background: @color8;
}

#pulseaudio {
	background: @brpurple;
	color: @black;
}

#network {
	background: @purple;
	color: @white;
}

#memory {
	background: @braqua;
	color: @black;
}

#cpu {
	background: @green;
	color: @white;
}

#temperature {
	background: @green;
	color: @black;
}

#language {
	background: @bryellow;
	color: @black;
}

#custom-weather {
	background: @brgray;
	color: @white;
}

#mpris {
	background: @brgray;
	color: @white;
}

#battery {
	background: @aqua;
	color: @white;
}

#bluetooth {
	background: @blue;
	color: @gray;
}

#tray {
	background: @color0;
}

#clock.date {
	background: @color0;
	color: @gray;
}

#clock.time {
	background: @gray;
	color: @black;
}

#custom-blackf { color: @color0; background: @black; }
#custom-blackb { color: @black; background: @color0; }

#custom-arrow1f { color: @color9; background: @black; }
#custom-arrow1b { color: @black; background: @color9; }

#custom-arrow2f { color: @color10; background: @black; }
#custom-arrow2b { color: @color2; background: @color10; }

#custom-arrow3f { color: @bryellow; background: @black; }
#custom-arrow3b { color: @black; background: @bryellow; }

#custom-arrow4f { color: @color12; background: @black; }
#custom-arrow4b { color: @black; background: @color12; }

#custom-arrow5f { color: @color13; background: @black; }
#custom-arrow5b { color: @black; background: @color13; }

#custom-purplef { color: @purple; background: @black; }
#custom-purpleb { color: @black; background: @purple; }

#custom-arrow6f { color: @color14; background: @black; }
#custom-arrow6b { color: @black; background: @color14; }

#custom-arrow7f { color: @color7; background: @black; }
#custom-arrow7b { color: @black; background: @color7; }

#custom-arrow8f { color: @color8; background: @black; }
#custom-arrow8b { color: @black; background: @color8; }
