<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/terminal.svg" label="Terminal">
			<action name="Execute">
				<execute>lxterminal</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/nemo.svg" label="PCManFM">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/waterfox.svg" label="Waterfox">
			<action name="Execute">
				<execute>/home/coke/Programs/waterfox/waterfox</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/discord.svg" label="Discord">
			<action name="Execute">
				<execute>discord</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/liferea.svg" label="QuiteRSS">
			<action name="Execute">
				<execute>quiterss</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/lutris.svg" label="Games">
			<action name="Execute">
				<execute>lutris</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/keeweb.svg" label="Passwords">
			<action name="Execute">
				<execute>KeeWeb</execute>
			</action>
		</item>
		<separator/>
		<menu icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/apps/accessories-screenshot.svg" id="root-menu-74928" label="Screenshot">
			<item label="Normal">
				<action name="Execute">
					<execute>mate-screenshot -a</execute>
				</action>
			</item>
			<item label="5 Seconds">
				<action name="Execute">
					<execute>mate-screenshot -a -d 5</execute>
				</action>
			</item>
			<item label="Screen">
				<action name="Execute">
					<execute>mate-screenshot</execute>
				</action>
			</item>
			<item label="Custom">
				<action name="Execute">
					<execute>mate-screenshot -i</execute>
				</action>
			</item>
		</menu>
		<!-- This requires the presence of the 'openbox-menu' package to work -->
		<separator/>
		<menu execute="openbox-menu lxde-applications.menu" icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/app.svg" id="applications-menu" label="Applications"/>
		<separator/>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/gnome-run.svg" label="Run">
			<action name="Execute">
				<execute>rofi -show run</execute>
			</action>
		</item>
		<menu icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/accessories-text-editor.svg" id="root-menu-87440" label="Config">
			<item label="lxappearance">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="tint2">
				<action name="Execute">
					<execute>tint2conf</execute>
				</action>
			</item>
			<item label="obconf">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
		</menu>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/livewallpaper.svg" label="Wallpaper">
			<action name="Execute">
				<execute>nitrogen</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/openbox.svg" label="Restart WM">
			<action name="Restart"/>
		</item>
		<separator/>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/system-suspend.svg" label="Suspend">
			<action name="Execute">
				<execute>systemctl suspend</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/system-reboot.svg" label="Reboot">
			<action name="Execute">
				<execute>reboot</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/Papirus-Adapta-Nokto/64x64/categories/system-log-out.svg" label="Log Out">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
